@using E_Commerce.Core.Entitites;
@model Movie
@{
    ViewData["Title"] = "List Of Movies";
}

<div class="row">
   
        <div class="col-md-8 offset-2">
            <div class="card mb-3" style="max-width:540px;">
                <div class="row g-0">
                    <div class="col-md-12">
                        <div class="card-header text-white bg-info">
                            <p class="card-text">
                                <h5 class="card-title">
                                    @Model.Name
                                  
                                </h5>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <img src="@Model.ImageURL" width="100%" alt="@Model.Name" />
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <p class="card-text text-black">@Model.Description</p>
                            <p class="card-text text-black">Cinema: <b></b> 
                            <a asp-controller="Cinemas" asp-action="Detail" asp-route-id="@Model.CinemaID">@Model.Cinema.Name</a>
                            </p>
                        <p class="card-text text-white">
                            Cinema: <b></b>
                            <a asp-controller="Producers" asp-action="Detail" asp-route-id="@Model.ProducerID">@Model.Produer.Name</a>
                        </p>
                     
                            <p class="card-text text-black">Category: <b></b> @Model.Category</p>
                            <p class="card-text text-black">Start Date: <b></b> @Model.StartTime.ToString("dd MMM yyyy")</p>
                            <p class="card-text text-black">End Date: <b></b> @Model.EndTime.ToString("dd MMM yyyy")</p>
                            <p class="card-text">
                                <b>Status:</b>
                                @if (DateTime.Now >= Model.StartTime && DateTime.Now <= Model.EndTime)
                                {
                                    <span class="badge bg-success text-white">Available</span>
                                }
                                else if (DateTime.Now > Model.EndTime)
                                {
                                    <span class="badge bg-danger text-white">Expired</span>
                                }
                                else
                                {
                                    <span class="badge bg-primary text-white">Upcoming</span>
                                }
                            </p>
                            <p class="card-text">
                                <b >Actors:</b>
                                <hr />
                                <div class="row">
                                    @foreach (var item in Model.Actor_Movies)
                                {
                                    <div class="column text-center">
                                        <img class="border-info rounded-circle" src="@item.Actor.ProfilePicture"style="max-width:150px"/>
                                        <br>
                                        <a asp-asp-controller="Actors"asp-action="Detail"asp-route-id="@item.ActorID">@item.Actor.Name</a>
                                    </div>
                                }
                                </div>
                            </p>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="card-footer">
                            <p class="card-text">
                                <a class="btn btn-outline-primary float-right" asp-action="Index">Return to List</a>
                            <a class="btn btn-success text-white" asp-controller="Orders" asp-action="AddToShoppingCart" asp-route-id="@Model.ID"><i class="bi bi-card-plus"></i>Add To Cart(Price:@Model.Price.ToString("c"))</a>
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    
</div>



